
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading">Please sign in</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" value="linda" required autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" value="password" required>
        </p>

        <div class="form-check">
            <label class="form-check-label mr-5" for="remember-me">Remember me</label>
            <input type="checkbox" class="form-check-input" id="remember-me" name="remember-me">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>

        <div class="mt-5 alert alert-dismissable alert-danger bad-login" th:if="${param.error != null}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <!-- The real error is included as a tooltip, i.e. the title attribute. -->
            <p th:title="${session.values()}">Invalid username or password.</p>
        </div>
    </form>

</div>
</body></html>